<aside class="left-column">
  <section class="account-menu">

    <header>
      COMMUNITY
    </header>

    <ul>
      <li *ngFor="let item of menuItems; let i = index" routerLinkActive="menu-group active-group"
        [routerLinkActiveOptions]="{ exact: item.path === '/' }">
        <a [routerLink]="item.path">
          <i [ngClass]="item.icon"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </section>

  <section class="help-card">
    <div class="icon-circle">
      <i class="bi bi-megaphone-fill"></i>
    </div>
    <h4>Have something to share?</h4>
    <p>Post your news, deals, or opportunities with the Chamber community.</p>
    <button><i class="bi bi-send-fill"></i> Get Started</button>
  </section>
</aside>