<div class="dashboard-shell">
  <app-dashboard-header [chamberName]="dashboard.chamberName" [memberName]="dashboard.memberName"
    [memberLocation]="dashboard.memberLocation" />


  <app-top-menu></app-top-menu>


  <main class="portal-main">
    <ng-container [ngSwitch]="currentSidebarType">
      <app-dashboard-aside *ngSwitchCase="'dashboard'"></app-dashboard-aside>
      <app-events-aside *ngSwitchCase="'events'"></app-events-aside>
      <app-resources-aside *ngSwitchCase="'resources'"></app-resources-aside>
      <app-news-aside *ngSwitchCase="'news'"></app-news-aside>
      <app-settings-aside *ngSwitchCase="'settings'"></app-settings-aside>
      <app-dashboard-aside *ngSwitchDefault></app-dashboard-aside>
    </ng-container>

    <section class="content-column">
      <router-outlet />
    </section>
  </main>

  <app-dashboard-footer />
</div>