<aside class="left-column">
  <section class="account-menu">
    <header>ACCOUNT SETTINGS</header>

    
    <ul>
      <li *ngFor="let item of personalItems"><a [routerLink]="item.path">{{ item.label }} </a></li>
    </ul>

    <div class="menu-group collapsible">Company</div>
    <div class="menu-group collapsible">Billing</div>
  </section>

  <section class="help-card">
    <div class="icon">🎧</div>
    <h4>Need Help?</h4>
    <p>If you have any questions or need assistance, our support team is here to help.</p>
    <button>Contact Support</button>
  </section>
</aside>
