<aside class="left-column">
  <section class="account-menu">
    <header>ACCOUNT SETTINGS</header>
    <div class="menu-group collapsible" [class.open]="SelectedButton=='Personal'" (click)="SelectedButton='Personal'">
      <span>Personal</span>
      <i class="bi bi-chevron-right collapse-icon"></i>
    </div>
    <div class="collapse-panel-body" [class.open]="SelectedButton=='Personal'">
      <ul>
        <li *ngFor="let item of personalItems" routerLinkActive="menu-group active-group"
          [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="item.path">{{ item.label }} </a>
        </li>
      </ul>
    </div>

    <div class="menu-group collapsible" [class.open]="SelectedButton=='Company'" (click)="SelectedButton='Company'">
      <span>Company</span>
      <i class="bi bi-chevron-right collapse-icon"></i>
    </div>

    <div class="collapse-panel-body" [class.open]="SelectedButton=='Company'">
      <ul>
        <li>
          Compnay Menu
        </li>
      </ul>
    </div>


    <div class="menu-group collapsible" [class.open]="SelectedButton=='Billing'" (click)="SelectedButton='Billing'">
      <span>Billing</span>
      <i class="bi bi-chevron-right collapse-icon"></i>
    </div>
    <div class="collapse-panel-body" [class.open]="SelectedButton=='Billing'">
      <ul>
        <li>
          Billing Menu
        </li>
      </ul>
    </div>


  </section>

  <section class="help-card">
    <div class="icon">🎧</div>
    <h4>Need Help?</h4>
    <p>If you have any questions or need assistance, our support team is here to help.</p>
    <button>Contact Support</button>
  </section>
</aside>