/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.tabactive {
    font-weight: bolder;
}


.page-session {
    background: #fff;
    border: 1px solid #d9e0ec;
    border-radius: 6px;
    overflow: hidden;
}
