<aside class="left-column">

  <section class="account-menu">
    <header>
      SHORTCUTS
    </header>
    <ul>
      <li *ngFor="let item of menuItems" routerLinkActive="menu-group active-group"
        [routerLinkActiveOptions]="{ exact: item.path === '/' }">
        <a [routerLink]="item.path">
          <i [ngClass]="item.icon"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </section>

  <section class="account-menu">
    <header>
      LINKS
    </header>


    <ul>
      <li *ngFor="let item of hotLinks">{{ item.label }}</li>
    </ul>
  </section>

  <section class="ad-card">
    <p class="ad-title">memberplus</p>
    <p>Free app that provides instant access to your chamber or association.</p>
  </section>
</aside>